{% extends 'base.html' %}
{% from 'macros/operations_macros.html' import mytable %}
{% block title %}Diseases Related To Gene{% endblock %}

{% set FunctNavBarActive = "is-active" %}


{% block content %}
    <section class="hero full-width">
        <div class="columns is-centered mt-4 has-text-centered">
            <div class="column is-5">
                <p class="title is-3">Diseases related to a Gene</p>


                <!--Display the number of genes found and a button to download the table-->
                <div class="block">
                    <p>Here are presented all the diseases related to the gene "<i><b>{{ gene }}</b></i>":</p>
                </div>

                {% if data.lenght == 0 %}
                    <p>It doesn't exist any disease related to the gene.</p>
                {% else %}

                    <!--Button to download the table.
                    It sends to /download "NAME_FILE" which indicates the table to download-->
                    <p>Number of diseases found: <b>{{ data.lenght }}</b></p>
                    <form class="buttons is-centered mt-1" action="/download" method="POST">
                        <button class="button is-info" type="submit" value="{{ NAME_FILE }}"
                                name="name_file">
                                    <span class="icon is-small">
                                        <i class="fas fa-download"></i>
                                    </span>
                            <span>Download as tsv!</span>
                        </button>
                    </form>

                {% endif %}

            </div>
        </div>

        {% if data.lenght != 0 %}
            <div class="columns is-justify-content-center mt-4">
                <div class="column is-5">
                    {{ mytable(data=data,
                    table_class="table is-bordered is-hoverable is-one-third has-hover-blue-light is-mystyle has-text-centered",
                    style="width: 100%;") }}
                </div>
            </div>
        {% endif %}

    </section>

{% endblock %}