{% extends 'base.html' %}
{% from 'macros/operations_macros.html' import mytable_with_pmid_links %}
{% block title %}Disease Evidence{% endblock %}

{% set FunctNavBarActive = "is-active" %}


{% block content %}
    <section class="hero full-width">
        <div class="columns is-centered mt-4 has-text-centered">
            <div class="column is-5">
                <p class="title is-3">Covid-19 relation evidences</p>


                <!--Display the number of genes found and a button to download the table-->
                <div class="block">
                    <p>Hereafter are reported the evidences in literature of the relation between
                        Covid-19 and the disease "<i><b>{{ disease }}</b></i>".</p>
                </div>

                {% if data.length == 0 %}
                    <p class="center-align">No evidence was found which relates covid-19 with the disease.</p>
                {% else %}

                    <!--Button to download the table.
                    It sends to /download "NAME_FILE" which indicates the table to download-->
                    <p>Number of evidences found: <b>{{ data.length }}</b></p>
                    <form class="buttons is-centered" action="/download" method="POST">
                        <button class="button is-info" type="submit" value="{{ NAME_FILE }}"
                                name="name_file">
                                    <span class="icon is-small">
                                        <i class="fas fa-download"></i>
                                    </span>
                            <span>Download as tsv!</span>
                        </button>
                    </form>

                {% endif %}

            </div>
        </div>

        {% if data.length != 0 %}
            <div class="columns is-justify-content-center mt-4">
                <div class="column is-11">
                    {{ mytable_with_pmid_links(data=data,
                    table_class="table is-bordered is-hoverable is-one-third has-hover-blue-light is-mystyle has-text-centered",
                    style="width: 100%;",
                    base_pmid_url=base_pmid_url) }}
                </div>
            </div>
        {% endif %}

    </section>

{% endblock %}