{% extends 'base.html' %}
{% from 'macros/operations_macros.html' import mytable %}
{% block title %}Distinct Genes{% endblock %}


{% block style %}
{% endblock %}

{% block content %}
    <section class="hero full-width">
        <div class="columns is-centered mt-4 has-text-centered">
            <div class="column is-5">
                <p class="title is-3">Distinct Genes</p>

                <!--Display the number of genes found and a button to download the table-->
                <div class="block">
                    <p>List of genes found in "<i><b>gene_evidences.tsv</b></i>":</p>
                    <p>Number of genes found: <b>{{ data.lenght }}</b></p>
                </div>

                <!--Button to download the table.
                It sends to /download "NAME_FUNCTION" which indicates the table to download-->
                <div class="columns is-centered">
                    <div class="column is-narrow">
                        <form class="buttons" action="/download" method="POST">
                            <button class="button is-info" type="submit" value="{{ NAME_FUNCTION }}" name="name_file">
                            <span class="icon is-small">
                                <i class="fas fa-download"></i>
                            </span>
                                <span>Download as tsv!</span>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="columns is-centered">
                    <div class="column is-two-thirds">
                        {{ mytable(data=data,
                                table_class="table is-bordered is-hoverable is-one-third has-hover-blue-light is-mystyle has-text-centered",
                                style="width: 100%;") }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}