{% extends "base.html" %}
{% block title %}Input Disease Evidences{% endblock %}

{% set FunctNavBarActive = "is-active" %}


{% block content_half_page %}
    <p class="title">Insert a disease</p>

    <div class="block">
        <p>Here you can insert a DiseaseID or a Disease Name and the program will search
            in the dataset for any evidence in literature of its presence and it will present the
            results in a table.</p>
    </div>

    <div class="block">
        <div class="field">
            <label class="label">DiseaseID or Disease Name:</label>

            <form action="/diseaseEvidences" method="POST">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Disease" name="disease">
                    </div>
                    <div class="control">
                        <button class="button is-info" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}