<!-- Is the html that manage the classes and calls class() for each one of them-->
{% macro classes_docs(docs) %}
    <section class="section">
        <div class="box">
            <p class="title is-size-2">Classes:</p>

            <section class="section">
                {% for a_class in docs.classes %}
                    <div class="box ml-3">
                        {{ class(a_class=a_class) }}
                    </div>
                {% endfor %}
            </section>
        </div>
    </section>
{% endmacro %}


<!-- Is the actual html code for one class -->
{% macro class(a_class) %}
    <!--Name of the class-->
    <p class="title is-size-3">{{ a_class.name }}</p>

    <!--Name of the class with parameters and their default if present-->
    <div class="block ml-6">
        <p class="is-size-5 has-text-weight-semibold">class {{ a_class.name }}
            ({% for param in a_class.parameters %}
                <i><b>{{ param.name }}</b>{{ param.default }},</i>
            {% endfor %}):
        </p>

        <div class="block ml-6 pl-6">
            <p style="white-space:pre-wrap;">{{ a_class.description }}</p>
        </div>


        {% if a_class.parameters|length > 0 %}
            <div class="block mt-6">
                <p class="is-size-5 has-text-weight-semibold">Parameters:</p>

                {% for param in a_class.parameters %}
                    <div class="block ml-6">
                        <p class="has-text-weight-bold">{{ param.name }} :
                            <span class="has-text-weight-semibold is-italic">{{ param.type }}</span></p>
                        <p class="ml-6" style="white-space:pre-wrap;">{{ param.description }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        {% if a_class.attributes|length > 0 %}
            <div class="block mt-6">
                <p class="is-size-5 has-text-weight-semibold">Attributes:</p>

                {% for attrib in a_class.attributes %}
                    <div class="block ml-6">
                        <p class="has-text-weight-bold">{{ attrib.name }} :
                            <span class="has-text-weight-semibold is-italic">{{ attrib.type }}</span></p>
                        <p class="ml-6" style="white-space:pre-wrap;">{{ attrib.description }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        {% if a_class.methods|length > 0 %}
            <div class="block mt-6">
                <p class="is-size-5 has-text-weight-semibold">Methods:</p>

                {% for meth in a_class.methods %}
                    <div class="block ml-6 my-5">
                        <p class="has-text-weight-bold">{{ meth.name }}
                            ({% for param in meth.parameters %}
                                <i>{{ param.name }}<span
                                        class="has-text-weight-semibold">{{ param.default }},</span></i>
                            {% endfor %}):<span class="has-text-weight-semibold"> --> {{ meth.rtype }}</span>
                        </p>

                        <p class="ml-6" style="white-space:pre-wrap;">{{ meth.description }}</p>

                        {% if meth.parameters|length > 0 %}
                            <div class="block ml-6 pl-4 mt-2">
                                <p class="has-text-weight-semibold">Method parameters:</p>

                                {% for param in meth.parameters %}
                                    <div class="block ml-6">
                                        <p class="has-text-weight-bold">{{ param.name }} :
                                            <span class="has-text-weight-semibold is-italic">{{ param.type }}</span></p>
                                        <p class="ml-6" style="white-space:pre-wrap;">{{ param.description }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}



<!-- Is the html that manage the functions and calls function() for each one of them-->
{% macro functions_docs(docs) %}
    <section class="section">
        <div class="box">
            <p class="title is-size-2">Functions:</p>

            <section class="section">
                {% for a_function in docs.functions %}
                    <div class="box ml-3">
                        {{ function(a_function=a_function) }}
                    </div>
                {% endfor %}
            </section>
        </div>
    </section>
{% endmacro %}


<!-- Is the actual html code for one function -->
{% macro function(a_function) %}
    <!--Title of the function-->
    <p class="title is-size-3">{{ a_function.name }}</p>

    <!--Name of the function with parameters and their defaults if present-->
    <div class="block ml-6">
        <p class="is-size-5 has-text-weight-semibold">class {{ a_function.name }}
            ({% for param in a_function.parameters %}
                <i><b>{{ param.name }}</b>{{ param.default }},</i>
            {% endfor %}): --> {{ a_function.rtype }}
        </p>

        <!--Description of the function-->
        <div class="block ml-6 pl-6">
            <p style="white-space:pre-wrap;">{{ a_function.description }}</p>
        </div>

        <!--Description of the parameters of the functions-->
        {% if a_function.parameters|length > 0 %}
            <div class="block mt-6">
                <p class="is-size-5 has-text-weight-semibold">Parameters:</p>

                {% for param in a_function.parameters %}
                    <div class="block ml-6">
                        <p class="has-text-weight-bold">{{ param.name }} :
                            <span class="has-text-weight-semibold is-italic">{{ param.type }}</span></p>
                        <p class="ml-6" style="white-space:pre-wrap;">{{ param.description }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}


<!-- Is the html that manage the introduction-->
{% macro text_sections(docs) %}
    <section class="section">
        {% for section in docs.sections %}
            <div class="block">
                <p class="title is-size-{{ section.title_dimension }}">
                    {{ section.title }}
                </p>
                {% for paragraph in section.text %}
                    <div class="block ml-5" style="white-space:pre-wrap;">{{ paragraph }}</div>
                {% endfor %}
            </div>

        {% endfor %}
    </section>
{% endmacro %}