{% extends "base.html" %}

{% block title %}About{% endblock %}

<!--Set the tab about as active-->
{% set AboutNavBarActive = "is-active" %}

{% block content_half_page %}
    <h1 class="title">About</h1>
    <p>Authors of the project:</p>

    <div class="content">
        <ul>
            <li><p>Alberto Notarnicola</p></li>
            <li><p>Alessandro Poletti</p></li>
            <li><p>Isidora Gocmanac</p></li>
            <li><p>Shanuka Tenahandi</p></li>
        </ul>
    </div>

{% endblock %}