{% extends "base.html" %}
{% from 'macros.html' import mytable %}

{% block title %}DiseaseEvidence{% endblock %}

{% block style %}

    table {
        width:95%;
    }

{% endblock %}

{% block FunctionsNavBar %}class="nav-link dropdown-toggle active"{% endblock %}
{% block content %}
    <h1>Covid-19 relation evidences</h1>

    <br><br/>

    <p class="center-align">Hereafter are reported the evidences in literature of the relation between
        Covid-19 and the disease "<i><b>{{disease}}</b></i>".</p>

    {% if numEvidences == 0 %}
        <p class="center-align">No evidence was found which relates covid-19 with the disease "<i><b>{{disease}}</b></i>".</p>
    {% else %}
        <p class="center-align">Number of evidences found: <b>{{numEvidences}}</b>.</p>
        <table>
            <tr>
                <th>#</th>
                <th>evidence</th>
                <th>nsentence</th>
                <th>pmid</th>
            </tr>

            {% for row in evidences%}
            <tr>
                <td>{{ loop.index }}</td>
                {% for col in row %}
                    {% if loop.index == 3 %}
                        <td><a href="{{ base_pmid_url ~ col}}">{{col}}</a></td>
                    {% else %}
                        <td> {{col}} </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}


{% endblock %}