{% extends "base.html" %}
{% block title %}Documentation part 3{% endblock %}
{% block FunctionsNavBar %}class="nav-link dropdown-toggle active"{% endblock %}
{% block content %}
<h1>Documentation part 3</h1>


<div>
    <br><br/>
    <h5><a href='/functions'>Functions</a></h5>
</div>


<link rel="stylesheet" type="text/css" href="pyinstxtractor-master_files/_pydoc.css"></head>
<body bgcolor="#f0f0f8">
<div style="float:left">
    Python 3.8.2 [default, Clang 10.0.1 (clang-1001.0.46.4)]<br>macOS-10.14.6
</div>
<div style="float:right">
    <div style="text-align:center">
        <a href="http://localhost:49412/index.html">Module Index</a>
        : <a href="http://localhost:49412/topics.html">Topics</a>
        : <a href="http://localhost:49412/keywords.html">Keywords</a>
    </div>
    <div>
        <form action="get" style="display:inline;">
            <input type="text" name="key" size="15">
            <input type="submit" value="Get">
        </form>&nbsp;
        <form action="search" style="display:inline;">
            <input type="text" name="key" size="15">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
<div style="clear:both;padding-top:.5em;">
    <table summary="heading" width="100%" cellspacing="0" cellpadding="2" border="0">
        <tbody>
        <tr bgcolor="#7799ee">
            <td valign="bottom">&nbsp;<br>
                <font face="helvetica, arial"
                      color="#ffffff">&nbsp;<br><big><big><strong>2_Abstract</strong></big></big></font></td>
            <td valign="bottom" align="right"><font face="helvetica, arial" color="#ffffff"><a
                    href="http://localhost:49412/">index</a><br><a
                    href="http://localhost:49412/getfile?key=/Users/alberto/Desktop/Programmazione/Software%20Applications/2_Abstract.py">/Users/alberto/Desktop/Programmazione/Software
                Applications/2_Abstract.py</a></font></td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <p>
    <table summary="section" width="100%" cellspacing="0" cellpadding="2" border="0">
        <tbody>
        <tr bgcolor="#aa55cc">
            <td colspan="3" valign="bottom">&nbsp;<br>
                <font face="helvetica, arial" color="#ffffff"><big><strong>Modules</strong></big></font></td>
        </tr>

        <tr>
            <td bgcolor="#aa55cc"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td>
            <td>&nbsp;</td>
            <td width="100%">
                <table summary="list" width="100%">
                    <tbody>
                    <tr>
                        <td width="25%" valign="top"><a href="http://localhost:49412/pandas.html">pandas</a><br>
                        </td>
                        <td width="25%" valign="top"><a href="http://localhost:49412/re.html">re</a><br>
                        </td>
                        <td width="25%" valign="top"></td>
                        <td width="25%" valign="top"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    </p><p>
    <table summary="section" width="100%" cellspacing="0" cellpadding="2" border="0">
        <tbody>
        <tr bgcolor="#ee77aa">
            <td colspan="3" valign="bottom">&nbsp;<br>
                <font face="helvetica, arial" color="#ffffff"><big><strong>Classes</strong></big></font></td>
        </tr>

        <tr>
            <td bgcolor="#ee77aa"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td>
            <td>&nbsp;</td>
            <td width="100%">
                <dl>
                    <dt><font face="helvetica, arial"><a href="http://localhost:49412/abc.html#ABC">abc.ABC</a>(<a
                            href="http://localhost:49412/builtins.html#object">builtins.object</a>)
                    </font></dt>
                    <dd>
                        <dl>
                            <dt><font face="helvetica, arial"><a href="http://localhost:49412/2_Abstract.html#Analysis">Analysis</a>
                            </font></dt>
                            <dd>
                                <dl>
                                    <dt><font face="helvetica, arial"><a
                                            href="http://localhost:49412/2_Abstract.html#Testing">Testing</a>
                                    </font></dt>
                                </dl>
                            </dd>
                            <dt><font face="helvetica, arial"><a
                                    href="http://localhost:49412/2_Abstract.html#DataTables">DataTables</a>
                            </font></dt>
                            <dd>
                                <dl>
                                    <dt><font face="helvetica, arial"><a
                                            href="http://localhost:49412/2_Abstract.html#DiseaseTable">DiseaseTable</a>
                                    </font></dt>
                                    <dt><font face="helvetica, arial"><a
                                            href="http://localhost:49412/2_Abstract.html#GeneTable">GeneTable</a>
                                    </font></dt>
                                </dl>
                            </dd>
                        </dl>
                    </dd>
                </dl>
                <p>
                <table summary="section" width="100%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                    <tr bgcolor="#ffc8d8">
                        <td colspan="3" valign="bottom">&nbsp;<br>
                            <font face="helvetica, arial" color="#000000"><a name="Analysis">class
                                <strong>Analysis</strong></a>(<a href="http://localhost:49412/abc.html#ABC">abc.ABC</a>)</font>
                        </td>
                    </tr>

                    <tr bgcolor="#ffc8d8">
                        <td rowspan="2"><tt>&nbsp;&nbsp;&nbsp;</tt></td>
                        <td colspan="2"><tt>Helper&nbsp;class&nbsp;that&nbsp;provides&nbsp;a&nbsp;standard&nbsp;way&nbsp;to&nbsp;create&nbsp;an&nbsp;<a
                                href="http://localhost:49412/abc.html#ABC">ABC</a>&nbsp;using<br>
                            inheritance.<br>&nbsp;</tt></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td width="100%">
                            <dl>
                                <dt>Method resolution order:</dt>
                                <dd><a href="http://localhost:49412/2_Abstract.html#Analysis">Analysis</a></dd>
                                <dd><a href="http://localhost:49412/abc.html#ABC">abc.ABC</a></dd>
                                <dd><a href="http://localhost:49412/builtins.html#object">builtins.object</a></dd>
                            </dl>
                            <hr>
                            Methods defined here:<br>
                            <dl>
                                <dt>
                                    <a name="Analysis-correlation_gene_disease"><strong>correlation_gene_disease</strong></a>(self)
                                </dt>
                            </dl>

                            <dl>
                                <dt><a name="Analysis-find_diseases_related_to_gene"><strong>find_diseases_related_to_gene</strong></a>(self,
                                    user_input)
                                </dt>
                            </dl>

                            <dl>
                                <dt><a name="Analysis-find_genes_related_to_disease"><strong>find_genes_related_to_disease</strong></a>(self,
                                    user_input)
                                </dt>
                            </dl>

                            <hr>
                            Data descriptors defined here:<br>
                            <dl>
                                <dt><strong>__dict__</strong></dt>
                                <dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt>
                                </dd>
                            </dl>
                            <dl>
                                <dt><strong>__weakref__</strong></dt>
                                <dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt>
                                </dd>
                            </dl>
                            <hr>
                            Data and other attributes defined here:<br>
                            <dl>
                                <dt><strong>__abstractmethods__</strong> = frozenset({'correlation_gene_disease',
                                    'find_diseases_related_to_gene', 'find_genes_related_to_disease'})
                                </dt>
                            </dl>

                        </td>
                    </tr>
                    </tbody>
                </table>
                </p><p>
                <table summary="section" width="100%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                    <tr bgcolor="#ffc8d8">
                        <td colspan="3" valign="bottom">&nbsp;<br>
                            <font face="helvetica, arial" color="#000000"><a name="DataTables">class
                                <strong>DataTables</strong></a>(<a
                                    href="http://localhost:49412/abc.html#ABC">abc.ABC</a>)</font></td>
                    </tr>

                    <tr bgcolor="#ffc8d8">
                        <td rowspan="2"><tt>&nbsp;&nbsp;&nbsp;</tt></td>
                        <td colspan="2"><tt>Helper&nbsp;class&nbsp;that&nbsp;provides&nbsp;a&nbsp;standard&nbsp;way&nbsp;to&nbsp;create&nbsp;an&nbsp;<a
                                href="http://localhost:49412/abc.html#ABC">ABC</a>&nbsp;using<br>
                            inheritance.<br>&nbsp;</tt></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td width="100%">
                            <dl>
                                <dt>Method resolution order:</dt>
                                <dd><a href="http://localhost:49412/2_Abstract.html#DataTables">DataTables</a></dd>
                                <dd><a href="http://localhost:49412/abc.html#ABC">abc.ABC</a></dd>
                                <dd><a href="http://localhost:49412/builtins.html#object">builtins.object</a></dd>
                            </dl>
                            <hr>
                            Methods defined here:<br>
                            <dl>
                                <dt><a name="DataTables-distinct"><strong>distinct</strong></a>(self)</dt>
                            </dl>

                            <dl>
                                <dt><a name="DataTables-evidence"><strong>evidence</strong></a>(self, user_input)</dt>
                            </dl>

                            <dl>
                                <dt><a name="DataTables-get_dimensions"><strong>get_dimensions</strong></a>(self)</dt>
                            </dl>

                            <dl>
                                <dt><a name="DataTables-get_heads"><strong>get_heads</strong></a>(self)</dt>
                            </dl>

                            <dl>
                                <dt><a name="DataTables-get_labels"><strong>get_labels</strong></a>(self)</dt>
                            </dl>

                            <dl>
                                <dt><a name="DataTables-get_tails"><strong>get_tails</strong></a>(self)</dt>
                            </dl>

                            <hr>
                            Data descriptors defined here:<br>
                            <dl>
                                <dt><strong>__dict__</strong></dt>
                                <dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt>
                                </dd>
                            </dl>
                            <dl>
                                <dt><strong>__weakref__</strong></dt>
                                <dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt>
                                </dd>
                            </dl>
                            <hr>
                            Data and other attributes defined here:<br>
                            <dl>
                                <dt><strong>__abstractmethods__</strong> = frozenset({'distinct', 'evidence',
                                    'get_dimensions', 'get_heads', 'get_labels', 'get_tails'})
                                </dt>
                            </dl>

                        </td>
                    </tr>
                    </tbody>
                </table>
                </p><p>
                <table summary="section" width="100%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                    <tr bgcolor="#ffc8d8">
                        <td colspan="3" valign="bottom">&nbsp;<br>
                            <font face="helvetica, arial" color="#000000"><a name="DiseaseTable">class <strong>DiseaseTable</strong></a>(<a
                                    href="http://localhost:49412/2_Abstract.html#DataTables">DataTables</a>)</font></td>
                    </tr>

                    <tr bgcolor="#ffc8d8">
                        <td rowspan="2"><tt>&nbsp;&nbsp;&nbsp;</tt></td>
                        <td colspan="2"><tt><a href="#DiseaseTable">DiseaseTable</a>(table)<br>
                            &nbsp;<br>
                            Helper&nbsp;class&nbsp;that&nbsp;provides&nbsp;a&nbsp;standard&nbsp;way&nbsp;to&nbsp;create&nbsp;an&nbsp;<a
                                    href="http://localhost:49412/abc.html#ABC">ABC</a>&nbsp;using<br>
                            inheritance.<br>&nbsp;</tt></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td width="100%">
                            <dl>
                                <dt>Method resolution order:</dt>
                                <dd><a href="http://localhost:49412/2_Abstract.html#DiseaseTable">DiseaseTable</a></dd>
                                <dd><a href="http://localhost:49412/2_Abstract.html#DataTables">DataTables</a></dd>
                                <dd><a href="http://localhost:49412/abc.html#ABC">abc.ABC</a></dd>
                                <dd><a href="http://localhost:49412/builtins.html#object">builtins.object</a></dd>
                            </dl>
                            <hr>
                            Methods defined here:<br>
                            <dl>
                                <dt><a name="DiseaseTable-__init__"><strong>__init__</strong></a>(self, table)</dt>
                                <dd><tt>The&nbsp;function&nbsp;creates&nbsp;the&nbsp;<a href="#GeneTable">GeneTable</a>&nbsp;with&nbsp;the&nbsp;parameter&nbsp;table<br>
                                    :param&nbsp;table:&nbsp;pandas&nbsp;dataframe</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="DiseaseTable-distinct"><strong>distinct</strong></a>(self)</dt>
                                <dd><tt>It&nbsp;returns&nbsp;a&nbsp;list&nbsp;of&nbsp;unique&nbsp;diseases&nbsp;present&nbsp;in&nbsp;the&nbsp;dataframe<br>
                                    &nbsp;<br>
                                    :return:&nbsp;list&nbsp;with&nbsp;unique&nbsp;diseases<br>
                                    :rtype:&nbsp;list</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="DiseaseTable-evidence"><strong>evidence</strong></a>(self, disease)</dt>
                                <dd><tt>Receives&nbsp;as&nbsp;input&nbsp;a&nbsp;diseaseID&nbsp;or&nbsp;a&nbsp;disease&nbsp;name&nbsp;and&nbsp;returns&nbsp;a&nbsp;list&nbsp;with&nbsp;the<br>
                                    sentences&nbsp;that&nbsp;relates&nbsp;the&nbsp;COVID-19&nbsp;with&nbsp;the&nbsp;disease.<br>
                                    &nbsp;<br>
                                    :param&nbsp;disease:&nbsp;the&nbsp;diseaseID&nbsp;or&nbsp;disease&nbsp;name&nbsp;input<br>
                                    :type&nbsp;disease:&nbsp;str<br>
                                    :returns:&nbsp;list&nbsp;of&nbsp;sentences&nbsp;related&nbsp;with&nbsp;COVID-19&nbsp;about&nbsp;the&nbsp;disease&nbsp;input<br>
                                    :rtype:&nbsp;list</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="DiseaseTable-get_dimensions"><strong>get_dimensions</strong></a>(self)</dt>
                                <dd><tt>The&nbsp;function&nbsp;records&nbsp;the&nbsp;number&nbsp;of&nbsp;rows&nbsp;and&nbsp;column&nbsp;of&nbsp;dataframe<br>
                                    &nbsp;<br>
                                    :return:&nbsp;tuple&nbsp;with&nbsp;rows&nbsp;and&nbsp;columns<br>
                                    :rtype:&nbsp;tuple</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="DiseaseTable-get_heads"><strong>get_heads</strong></a>(self)</dt>
                                <dd><tt>The&nbsp;function&nbsp;returns&nbsp;the&nbsp;first&nbsp;ten&nbsp;rows&nbsp;of&nbsp;the&nbsp;dataframe<br>
                                    &nbsp;<br>
                                    :return:&nbsp;dataframe&nbsp;with&nbsp;the&nbsp;first&nbsp;10&nbsp;rows&nbsp;of&nbsp;dataframe<br>
                                    :rtype:&nbsp;dataframe</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="DiseaseTable-get_labels"><strong>get_labels</strong></a>(self)</dt>
                                <dd><tt>The&nbsp;function&nbsp;records&nbsp;the&nbsp;labels&nbsp;of&nbsp;each&nbsp;columns&nbsp;of&nbsp;a&nbsp;dataframe<br>
                                    &nbsp;<br>
                                    :return:&nbsp;list&nbsp;with&nbsp;all&nbsp;the&nbsp;column&nbsp;labels<br>
                                    :rtype:&nbsp;list</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="DiseaseTable-get_tails"><strong>get_tails</strong></a>(self)</dt>
                                <dd><tt>The&nbsp;function&nbsp;returns&nbsp;the&nbsp;last&nbsp;ten&nbsp;rows&nbsp;of&nbsp;the&nbsp;dataframe<br>
                                    &nbsp;<br>
                                    :return:&nbsp;dataframe&nbsp;with&nbsp;the&nbsp;last&nbsp;10&nbsp;rows&nbsp;of&nbsp;dataframe<br>
                                    :rtype:&nbsp;dataframe</tt></dd>
                            </dl>

                            <hr>
                            Data and other attributes defined here:<br>
                            <dl>
                                <dt><strong>__abstractmethods__</strong> = frozenset()</dt>
                            </dl>

                            <hr>
                            Data descriptors inherited from <a href="http://localhost:49412/2_Abstract.html#DataTables">DataTables</a>:<br>
                            <dl>
                                <dt><strong>__dict__</strong></dt>
                                <dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt>
                                </dd>
                            </dl>
                            <dl>
                                <dt><strong>__weakref__</strong></dt>
                                <dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt>
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </p><p>
                <table summary="section" width="100%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                    <tr bgcolor="#ffc8d8">
                        <td colspan="3" valign="bottom">&nbsp;<br>
                            <font face="helvetica, arial" color="#000000"><a name="GeneTable">class
                                <strong>GeneTable</strong></a>(<a
                                    href="http://localhost:49412/2_Abstract.html#DataTables">DataTables</a>)</font></td>
                    </tr>

                    <tr bgcolor="#ffc8d8">
                        <td rowspan="2"><tt>&nbsp;&nbsp;&nbsp;</tt></td>
                        <td colspan="2"><tt><a href="#GeneTable">GeneTable</a>(table)<br>
                            &nbsp;<br>
                            Helper&nbsp;class&nbsp;that&nbsp;provides&nbsp;a&nbsp;standard&nbsp;way&nbsp;to&nbsp;create&nbsp;an&nbsp;<a
                                    href="http://localhost:49412/abc.html#ABC">ABC</a>&nbsp;using<br>
                            inheritance.<br>&nbsp;</tt></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td width="100%">
                            <dl>
                                <dt>Method resolution order:</dt>
                                <dd><a href="http://localhost:49412/2_Abstract.html#GeneTable">GeneTable</a></dd>
                                <dd><a href="http://localhost:49412/2_Abstract.html#DataTables">DataTables</a></dd>
                                <dd><a href="http://localhost:49412/abc.html#ABC">abc.ABC</a></dd>
                                <dd><a href="http://localhost:49412/builtins.html#object">builtins.object</a></dd>
                            </dl>
                            <hr>
                            Methods defined here:<br>
                            <dl>
                                <dt><a name="GeneTable-__init__"><strong>__init__</strong></a>(self, table)</dt>
                                <dd><tt>The&nbsp;function&nbsp;creates&nbsp;the&nbsp;<a href="#GeneTable">GeneTable</a>&nbsp;with&nbsp;the&nbsp;parameter&nbsp;table<br>
                                    :param&nbsp;table:&nbsp;pandas&nbsp;dataframe</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="GeneTable-distinct"><strong>distinct</strong></a>(self)</dt>
                                <dd><tt>It&nbsp;returns&nbsp;a&nbsp;list&nbsp;of&nbsp;unique&nbsp;genes&nbsp;present&nbsp;in&nbsp;the&nbsp;dataframe<br>
                                    &nbsp;<br>
                                    :return:&nbsp;list&nbsp;with&nbsp;unique&nbsp;genes<br>
                                    :rtype:&nbsp;list</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="GeneTable-evidence"><strong>evidence</strong></a>(self, gene)</dt>
                                <dd><tt>Receives&nbsp;as&nbsp;input&nbsp;a&nbsp;geneID&nbsp;or&nbsp;a&nbsp;gene&nbsp;symbol&nbsp;and&nbsp;returns&nbsp;a&nbsp;list&nbsp;with&nbsp;the<br>
                                    sentences&nbsp;that&nbsp;relates&nbsp;the&nbsp;COVID-19&nbsp;with&nbsp;the&nbsp;gene.<br>
                                    &nbsp;<br>
                                    :param&nbsp;gene:&nbsp;the&nbsp;geneID&nbsp;or&nbsp;gene&nbsp;symbol&nbsp;input<br>
                                    :type&nbsp;gene:&nbsp;str<br>
                                    :returns:&nbsp;list&nbsp;of&nbsp;sentences&nbsp;related&nbsp;with&nbsp;COVID-19&nbsp;about&nbsp;the&nbsp;gene&nbsp;input<br>
                                    :rtype:&nbsp;list</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="GeneTable-get_dimensions"><strong>get_dimensions</strong></a>(self)</dt>
                                <dd><tt>The&nbsp;function&nbsp;records&nbsp;the&nbsp;number&nbsp;of&nbsp;rows&nbsp;and&nbsp;column&nbsp;of&nbsp;dataframe<br>
                                    &nbsp;<br>
                                    :return:&nbsp;tuple&nbsp;with&nbsp;rows&nbsp;and&nbsp;columns<br>
                                    :rtype:&nbsp;tuple</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="GeneTable-get_heads"><strong>get_heads</strong></a>(self)</dt>
                                <dd><tt>The&nbsp;function&nbsp;returns&nbsp;the&nbsp;first&nbsp;ten&nbsp;rows&nbsp;of&nbsp;the&nbsp;dataframe<br>
                                    &nbsp;<br>
                                    :return:&nbsp;dataframe&nbsp;with&nbsp;the&nbsp;first&nbsp;10&nbsp;rows&nbsp;of&nbsp;dataframe<br>
                                    :rtype:&nbsp;dataframe</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="GeneTable-get_labels"><strong>get_labels</strong></a>(self)</dt>
                                <dd><tt>The&nbsp;function&nbsp;records&nbsp;the&nbsp;labels&nbsp;of&nbsp;each&nbsp;columns&nbsp;of&nbsp;a&nbsp;dataframe<br>
                                    &nbsp;<br>
                                    :return:&nbsp;list&nbsp;with&nbsp;all&nbsp;the&nbsp;column&nbsp;labels<br>
                                    :rtype:&nbsp;list</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="GeneTable-get_tails"><strong>get_tails</strong></a>(self)</dt>
                                <dd><tt>The&nbsp;function&nbsp;returns&nbsp;the&nbsp;last&nbsp;ten&nbsp;rows&nbsp;of&nbsp;the&nbsp;dataframe<br>
                                    &nbsp;<br>
                                    :return:&nbsp;dataframe&nbsp;with&nbsp;the&nbsp;last&nbsp;10&nbsp;rows&nbsp;of&nbsp;dataframe<br>
                                    :rtype:&nbsp;dataframe</tt></dd>
                            </dl>

                            <hr>
                            Data and other attributes defined here:<br>
                            <dl>
                                <dt><strong>__abstractmethods__</strong> = frozenset()</dt>
                            </dl>

                            <hr>
                            Data descriptors inherited from <a href="http://localhost:49412/2_Abstract.html#DataTables">DataTables</a>:<br>
                            <dl>
                                <dt><strong>__dict__</strong></dt>
                                <dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt>
                                </dd>
                            </dl>
                            <dl>
                                <dt><strong>__weakref__</strong></dt>
                                <dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt>
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </p><p>
                <table summary="section" width="100%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                    <tr bgcolor="#ffc8d8">
                        <td colspan="3" valign="bottom">&nbsp;<br>
                            <font face="helvetica, arial" color="#000000"><a name="Testing">class
                                <strong>Testing</strong></a>(<a href="http://localhost:49412/2_Abstract.html#Analysis">Analysis</a>)</font>
                        </td>
                    </tr>

                    <tr bgcolor="#ffc8d8">
                        <td rowspan="2"><tt>&nbsp;&nbsp;&nbsp;</tt></td>
                        <td colspan="2"><tt><a href="#Testing">Testing</a>(table,&nbsp;table2)<br>
                            &nbsp;<br>
                            Helper&nbsp;class&nbsp;that&nbsp;provides&nbsp;a&nbsp;standard&nbsp;way&nbsp;to&nbsp;create&nbsp;an&nbsp;<a
                                    href="http://localhost:49412/abc.html#ABC">ABC</a>&nbsp;using<br>
                            inheritance.<br>&nbsp;</tt></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td width="100%">
                            <dl>
                                <dt>Method resolution order:</dt>
                                <dd><a href="http://localhost:49412/2_Abstract.html#Testing">Testing</a></dd>
                                <dd><a href="http://localhost:49412/2_Abstract.html#Analysis">Analysis</a></dd>
                                <dd><a href="http://localhost:49412/abc.html#ABC">abc.ABC</a></dd>
                                <dd><a href="http://localhost:49412/builtins.html#object">builtins.object</a></dd>
                            </dl>
                            <hr>
                            Methods defined here:<br>
                            <dl>
                                <dt><a name="Testing-__init__"><strong>__init__</strong></a>(self, table, table2)</dt>
                                <dd><tt>The&nbsp;function&nbsp;find&nbsp;the&nbsp;correlations&nbsp;and&nbsp;the&nbsp;relation&nbsp;between&nbsp;genes&nbsp;and&nbsp;diseases&nbsp;of&nbsp;&nbsp;the&nbsp;two&nbsp;dataframes<br>
                                    &nbsp;<br>
                                    :param&nbsp;table:&nbsp;dataframe<br>
                                    :type:&nbsp;dataframe<br>
                                    :param&nbsp;table2:&nbsp;dataframe<br>
                                    :type:&nbsp;dataframe</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="Testing-correlation_gene_disease"><strong>correlation_gene_disease</strong></a>(self)
                                </dt>
                                <dd><tt>The&nbsp;function&nbsp;returns&nbsp;the&nbsp;correlation&nbsp;between&nbsp;a&nbsp;gene&nbsp;and&nbsp;the&nbsp;diseases&nbsp;mentioned&nbsp;in&nbsp;the&nbsp;sentence&nbsp;column<br>
                                    of&nbsp;the&nbsp;two&nbsp;tables.&nbsp;To&nbsp;do&nbsp;it&nbsp;iterates&nbsp;through&nbsp;the&nbsp;table,&nbsp;search&nbsp;in&nbsp;the&nbsp;sentence&nbsp;if&nbsp;there&nbsp;is&nbsp;a&nbsp;disease&nbsp;and&nbsp;then<br>
                                    it&nbsp;links&nbsp;it&nbsp;to&nbsp;the&nbsp;gene&nbsp;written&nbsp;in&nbsp;the&nbsp;gene_symbol&nbsp;column.&nbsp;If&nbsp;such&nbsp;a&nbsp;link&nbsp;between&nbsp;the&nbsp;disease&nbsp;and&nbsp;the&nbsp;gene<br>
                                    already&nbsp;happened&nbsp;then&nbsp;it&nbsp;increase&nbsp;the&nbsp;number&nbsp;of&nbsp;times&nbsp;such&nbsp;correlation&nbsp;happened.<br>
                                    &nbsp;<br>
                                    The&nbsp;correlations&nbsp;are&nbsp;saved&nbsp;in&nbsp;this&nbsp;format:<br>
                                    correlations&nbsp;=&nbsp;{gene1:&nbsp;{disease1:&nbsp;1,&nbsp;disease2:4,&nbsp;disease3:&nbsp;2},<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gene2:&nbsp;{disease2:&nbsp;3,&nbsp;disease4:1,&nbsp;disease5:&nbsp;4}}<br>
                                    &nbsp;<br>
                                    :returns:&nbsp;a&nbsp;dictionary&nbsp;of&nbsp;dictionaries&nbsp;representing&nbsp;each&nbsp;key&nbsp;a&nbsp;gene&nbsp;and&nbsp;each&nbsp;value&nbsp;a&nbsp;dictionary&nbsp;with&nbsp;the&nbsp;number<br>
                                    of&nbsp;occurance&nbsp;of&nbsp;a&nbsp;disease&nbsp;for&nbsp;that&nbsp;gene<br>
                                    :rtype:&nbsp;dictionary</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="Testing-find_diseases_related_to_gene"><strong>find_diseases_related_to_gene</strong></a>(self,
                                    user_input)
                                </dt>
                                <dd><tt>The&nbsp;function&nbsp;receive&nbsp;as&nbsp;input&nbsp;a&nbsp;geneID&nbsp;or&nbsp;a&nbsp;gene&nbsp;symbol&nbsp;and&nbsp;then&nbsp;returns&nbsp;a&nbsp;list&nbsp;with&nbsp;the<br>
                                    disesase&nbsp;related&nbsp;to&nbsp;the&nbsp;gene.<br>
                                    &nbsp;<br>
                                    :param&nbsp;user_input:&nbsp;the&nbsp;geneID&nbsp;or&nbsp;gene&nbsp;symbol&nbsp;input<br>
                                    :type&nbsp;user_input:&nbsp;str<br>
                                    :returns:&nbsp;a&nbsp;list&nbsp;with&nbsp;the&nbsp;diseases&nbsp;related&nbsp;to&nbsp;the&nbsp;gene&nbsp;given&nbsp;in&nbsp;the&nbsp;input<br>
                                    :rtype:&nbsp;list</tt></dd>
                            </dl>

                            <dl>
                                <dt><a name="Testing-find_genes_related_to_disease"><strong>find_genes_related_to_disease</strong></a>(self,
                                    user_input)
                                </dt>
                                <dd><tt>The&nbsp;function&nbsp;receive&nbsp;as&nbsp;input&nbsp;a&nbsp;diseaseID&nbsp;or&nbsp;a&nbsp;disease&nbsp;name&nbsp;and&nbsp;then&nbsp;returns&nbsp;a&nbsp;list&nbsp;with&nbsp;the<br>
                                    genes&nbsp;related&nbsp;to&nbsp;the&nbsp;disease.<br>
                                    &nbsp;<br>
                                    :param&nbsp;user_input:&nbsp;the&nbsp;diseaseID&nbsp;or&nbsp;disease&nbsp;name&nbsp;input<br>
                                    :type&nbsp;user_input:&nbsp;str<br>
                                    :returns:&nbsp;a&nbsp;list&nbsp;with&nbsp;the&nbsp;genes&nbsp;related&nbsp;to&nbsp;the&nbsp;disease&nbsp;given&nbsp;in&nbsp;the&nbsp;input<br>
                                    :rtype:&nbsp;list</tt></dd>
                            </dl>

                            <hr>
                            Data and other attributes defined here:<br>
                            <dl>
                                <dt><strong>__abstractmethods__</strong> = frozenset()</dt>
                            </dl>

                            <hr>
                            Data descriptors inherited from <a href="http://localhost:49412/2_Abstract.html#Analysis">Analysis</a>:<br>
                            <dl>
                                <dt><strong>__dict__</strong></dt>
                                <dd><tt>dictionary&nbsp;for&nbsp;instance&nbsp;variables&nbsp;(if&nbsp;defined)</tt>
                                </dd>
                            </dl>
                            <dl>
                                <dt><strong>__weakref__</strong></dt>
                                <dd><tt>list&nbsp;of&nbsp;weak&nbsp;references&nbsp;to&nbsp;the&nbsp;object&nbsp;(if&nbsp;defined)</tt>
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </p></td>
        </tr>
        </tbody>
    </table>
    </p><p>
    <table summary="section" width="100%" cellspacing="0" cellpadding="2" border="0">
        <tbody>
        <tr bgcolor="#55aa55">
            <td colspan="3" valign="bottom">&nbsp;<br>
                <font face="helvetica, arial" color="#ffffff"><big><strong>Data</strong></big></font></td>
        </tr>

        <tr>
            <td bgcolor="#55aa55"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td>
            <td>&nbsp;</td>
            <td width="100%"><strong>disease</strong> = &lt;2_Abstract.DiseaseTable object&gt;<br>
                <strong>gene</strong> = &lt;2_Abstract.GeneTable object&gt;<br>
                <strong>test</strong> = &lt;2_Abstract.Testing object&gt;
            </td>
        </tr>
        </tbody>
    </table>
    </p></div>
</body></html>


{% endblock %}