{% extends "base.html" %}
{% from 'macros.html' import mytable_info %}

{% block title %}Info{% endblock %}

<!--Set the tab function as active-->
{% block FunctionsNavBar %}class="nav-link dropdown-toggle active"{% endblock %}

{% block style %}
    table {
        width:90%;
    }

    p.caption {
        text-align: center;
    }

{% endblock %}


{% block content %}
    <h1>Informations of the datasets</h1>


    <br><br/>

    <!--Prints dimensionality of the disease table-->
    <h3>Disease evidences table</h3>
    <p class="center-align">
        Number of rows: <b>{{disease_data.nrows}}</b><br/>
        Number of columns: <b>{{disease_data.ncols}}</b><br/>
    </p>

    <!--Prints labels of the disease table-->
    <tr>
        <p class="center-align">
            <b>Labels</b>:
            {% for label in disease_data.labels %}
                <td>{{label}},</td>
            {% endfor %}
        </p>
    </tr>

    <br><br/>

    <!--Prints the head and tail in a table by using a macro imported at the top of the file-->
    <p class="caption"><i>Preview</i></p>

    {{ mytable_info(disease_data) }}



    <br><br/>
    <br><br/>
    <br><br/>


    <!--Prints dimensionality of the gene table-->
    <h3>Gene evidences table</h3>
    <p class="center-align">
        Number of rows: <b>{{gene_data.nrows}}</b><br/>
        Number of columns: <b>{{gene_data.ncols}}</b><br/>
    </p>

    <!--Prints labels of the gene table-->
    <tr>
        <p class="center-align">
            <b>Labels</b>:
            {% for label in gene_data.labels %}
                <td>{{label}},  </td>
            {% endfor %}
        </p>
    </tr>

    <br><br/>

    <!--Prints the head and tail in a table by using a macro imported at the top of the file-->
    <p class="caption"><i>Preview</i></p>
    {{mytable_info(gene_data)}}


    <br><br/>
    <br><br/>


{% endblock %}