{% extends "base.html" %}
{% block title %}inputGenesRelatedToDisease{% endblock %}
{% block FunctionsNavBar %}class="nav-link dropdown-toggle active"{% endblock %}
{% block content %}
    <h1>Insert a disease</h1>

    <br><br/>

    <form class="form-inline" style="justify-content: center" action="/genesRelatedToDisease" method="POST">
        Enter the DiseaseID or the Disease Name:
        <input class="form-control form-control-dark" style="margin-left: 0.8rem" type="text" name="disease" placeholder="Disease"/>
        <button class="btn btn-primary" style="margin-left: 0.8rem" type="submit" value="Enter">Search</button>
    </form>
{% endblock %}