{% extends "base.html" %}

{% block title %}inputDiseasesRelatedToGene{% endblock %}

{% block FunctionsNavBar %}class="nav-link dropdown-toggle active"{% endblock %}
{% block content %}
    <h1>Insert a gene</h1>

    <br><br/>

    <form class="form-inline" style="justify-content: center" action="/diseasesRelatedToGene" method="POST">
        Enter the Geneid or the Gene Symbol:
        <input class="form-control form-control-dark" style="margin-left: 0.8rem" type="text" name="gene" placeholder="Gene"/>
        <button class="btn btn-primary" style="margin-left: 0.8rem" type="submit" value="Enter">Search</button>
    </form>

{% endblock %}