/* For the tables */
table, th, td {
    text-align: center;
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 15px;
}

th {
    color: white;
    background-color: #3a3b3d;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #fff;
}
